:root{
  --c1_1 : #D62828;
  --c1_2 : #c21f1f;

  --c2_1 : #003049;
  --c2_2 : #5899e2;

  --black : #250001;
  --white : #DDD5D0;
}

h3{
  color: var(--black);
}


@font-face {
  font-family: 'JosefinSans';
  src: url(polices/JosephinSans/JosefinSans-VariableFont_wght.woff2) format('woff2');
 }

 @font-face {
  font-family: 'PlusJakartaSans';
  src: url(polices/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.woff2) format('woff2');
 }

 body{
  /*background-color: #FFC749;*/
  background-color: var(--c2_1);
 }

*{
  padding: 0;
  margin: 0;
}

/*--------------------------------- nav bar ---------------------------------*/
nav{
  width: fit-content;
  background-color: var(--c1_1);
  border-radius: 0px  30px 30px 0px;
  position: fixed;
  left: 0;
  top: 30%;
  transform: translateY(-30%);

}

nav:hover .nav_item_text
{
  display: flex;
  color: var(--black);
}

.nav_item:hover{
  background-color: var(--c1_2);
}

ul{
  padding-bottom: 1px;
}

li{
  list-style-type: none;
}

.nav_item{
  display: flex;
  align-items: center;
  width: fit-content;

  text-decoration: none;
  color: var(--black);

  padding: 10px;
  border-radius: 10px;

  margin: 15px;
}

.nav_item p{
  margin-left: 15px;
}

.nav_item img{
  width: 40px;
}

nav p{
  font-family: "JosefinSans";
  font-size: 30px;
  font-weight: bold;
}

.nav_item_text{
  display: none;
}


/*--------------------------------------------------------------------------*/
/*--------------------------------- header ---------------------------------*/

h1{
  font-family: 'JosefinSans';
  color: var(--white);
  font-size: 98px;
  padding: 5px;
}

header span{
  color: var(--c1_1);
}

#b{
  font-size: 135px;
}
header{
  text-align: right;
  padding: 50px;
}


/*-------------------------------------------------------------------------*/
/*-------------------------------- article --------------------------------*/
/*------------------------------ me connaître -----------------------------*/



article{
  display: flex;
 /* background-color: var(--c1_2);*/
  margin: 100px 15%;
  padding: 25px;

  border-radius: 0px 0px 0px 60px;
  border-left: 6px solid black;
  border-bottom: 6px solid black;
}



h3{
  font-family: 'JosefinSans';
  font-size: 50px;
  margin: 15px;
  margin-left: 0px;
}

article p{
  font-family: 'PlusJakartaSans';
  font-weight: 500;
  font-size: 25px;

  margin-top: 20px;
  padding: 10px;
}


article img{
  border-radius: 400px;
  width: 250px;
  height: 250px;
  border-left: 15px solid var(--c2_1);
  border-bottom: 15px solid var(--c2_1);

  margin-top: 20px;
  margin-right: 50px;
}

/*------------------------------- parcours -------------------------------*/
article section>p{
  text-align: center;
  width: fit-content;
}

article section{
  display: flex;
}

section div{
  font-family: 'PlusJakartaSans';
}

section hr{
  margin: 5px 0px;
  border: 1px solid var(--black);
}

section h4{
  font-size: 20px;
}

section h5{
  font-size: 17px;
  font-weight: 400;
}

section div p{
  padding: 0;
  margin: 0;
  font-size: 15px;
}



/*------------------------------------------------------------------------*/
/*-------------------------------- footer --------------------------------*/
footer{
  height: 100px;
  background-color: var(--c1_3);
  text-align: center;
}

#icones_ft{
  display: block;
  padding: 10px;
}

footer img{
  height: 50px;
  margin: 10px 50px;
}

.vert{
  color: darkblue;
  font-weight: bold;
}