:root{
  --rouge1 : #D62828;

  --bleu1: #003049;

  --black : #250001;
  --white1 : #DDD5D0;
}

.highlight{
  color: var(--rouge1);
  font-weight: bold;
}

p, h1, h2, h3, h4, h5{
  color: var(--white1);
}




@font-face {
  font-family: 'JosefinSans';
  src: url(polices/JosephinSans/JosefinSans-VariableFont_wght.woff2) format('woff2');
 }

 @font-face {
  font-family: 'PlusJakartaSans';
  src: url(polices/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.woff2) format('woff2');
 }

 body{
  background-color: var(--bleu1);
 }

*{
  padding: 0;
  margin: 0;
}

/*--------------------------------- nav bar ---------------------------------*/
nav{
  width: fit-content;
  border-radius: 0px  30px 30px 0px;
/*  border-left: 2px solid red;*/
  position: fixed;
  left: 10px;
  top: 15%;
  transform: translateY(-15%);

}

nav:hover .nav_item_text
{
  display: flex;
  color: var(--white1);
}

.nav_item{
  border-bottom: 2px solid var(--bleu1);
}
.nav_item:hover p{
 font-weight: 700;
}

nav ul{
  padding-bottom: 1px;
}

nav li{
  list-style-type: none;
}

.nav_item{
  display: flex;
  align-items: center;
  width: fit-content;

  text-decoration: none;

  padding: 10px;

  margin: 15px;
}

.nav_item p{
  margin-left: 15px;
}

.nav_item img{
  width: 35px;
}

nav p{
  font-family: "JosefinSans";
  font-size: 28px;
  font-weight: 500;
}

.nav_item_text{
  display: none;
}


/*--------------------------------------------------------------------------*/
/*--------------------------------- header ---------------------------------*/

h1{
  font-family: 'JosefinSans';
  color: var(--white1);
  font-size: 98px;
  padding: 5px;
}

header span{
  color: var(--rouge1);
}

#b{
  font-size: 135px;
}
header{
  text-align: right;
  padding: 50px;
}


/*-------------------------------------------------------------------------*/
/*-------------------------------- article --------------------------------*/
/*------------------------------ me connaître -----------------------------*/

hr{
  border-color: var(--rouge1);
}

article{
  display: flex;
  margin: 100px 15%;
  padding: 25px;
  align-items: center;

  border-radius: 60px;
}

p{
  color: var(--white1);
  word-spacing: 5px;
}

h3{
  font-family: 'JosefinSans';
  color: var(--white1);
  font-size: 50px;
  margin: 15px;
  margin-left: 0px;
}

article p{
  font-family: 'PlusJakartaSans';
  font-weight: 500;
  font-size: 25px;

  margin-top: 20px;
}


article img{
  border-radius: 400px;
  width: 250px;
  height: 250px;
  border-left: 10px solid var(--black);
  border-bottom: 10px solid var(--black);

  margin-top: 20px;
  margin-right: 50px;
}

/*------------------------------- etudes -------------------------------*/

article li>p{
  text-align: center;
  width: 120px;
  margin: 0;
}

article li{
  display: flex;
  align-items: center;
  margin: 50px 0px;

}

article li div{
  font-family: 'PlusJakartaSans';
  margin-left: 50px;
}

article li hr{
  margin: 15px 0px;
  border: 1px solid var(--rouge1);
}

article li h4{
  font-size: 20px;
}

article li .highlight{
  font-weight: 450;
}

article li h5{
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}


article li div p{
  padding: 0;
  margin: 0;
  font-size: 15px;
}

  

#etudes ul{
  margin-left: 35px;
}

#etudes{
  align-items: center;
  top: 30px;
}

#etudes h3{
  text-align: center;
}

#test{
  height: 340px;
  border-right: 2px solid var(--rouge1);
}

/*------------------------------------------------------------------------*/
/*-------------------------------- footer --------------------------------*/
footer{

  border-top: 3px solid var(--rouge1);
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'PlusjakartaSans';

  padding: 30px;
}


footer img{
  height: 50px;
  margin: 0px 50px;
}

footer a{
  text-decoration: none;
  color: var(--white1);
  font-size: 16px;
}

footer a:hover{
  text-decoration: underline;
}

#icones_ft a{
  text-decoration: none;
}